body{
    background-color: #460562;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    scrollbar-color: white black;
}
.navegacion{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    border-bottom: 3px solid var(--background);
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 999;
    color: white;

    .link-regresar{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        width: 30px;
        height: 30px;
        padding: 10px;

        a{
            color: white;
            text-decoration: none;
            font-size: 22px;
        }
    }
}
.media-car{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 100px;
    background-color: transparent;
    width: 100%;
    height: auto;
}
.media-car .producto{
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    gap: 10px;
    margin-top: 10px;

    img{
        width: 300px;
        border-radius: 5px;
    }
}
.media-car .producto .title{
    .precio-sin-descuento{
        font-size: 17px;
        text-decoration: line-through;
    }
}
.media-car .producto .title label{
    font-size: 25px;
}
.media-car .producto .precio{
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: -10px;

    p{
        font-size: 20px;
        margin: 0;
    }
    .span-des{
        color: red;
        font-weight: 550;
    }

}
.media-car .media-pagar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    width: 90%;
    height: 100px;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.media-car .box-pagar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    background-color: transparent;
}
.media-car .box-pagar button{
    padding: 7px 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 550;
}
.media-car .box-pagar button:hover{
    background-color: white;
    color: black;
}
.media-car .producto .box-acciones{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 80%;
    gap: 10px;

    input[type=number]{
        width: 30px;
        height: 30px;
    }
    .btn-recargar,
    .btn-elim{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        color: white;
        border-radius: 0;
        font-size: 20px;
        border-radius: 3px;
    }
    .btn-elim{
        background-color: red;
    }
    .btn-recargar{
        background-color: royalblue;
    }

}   
@media(max-width: 730px){
    .producto{
        flex-direction: column;
        align-items: center;
    }
    .media-car .producto .box-acciones{
        left: 5%;
        top: 85%;
    }
}