body{
    background-color: #460562;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    scrollbar-color: white black;
}
.navegacion{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    border-bottom: 3px solid var(--background);
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 999;
    color: white;

    .link-regresar{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        width: 30px;
        height: 30px;
        padding: 10px;

        a{
            color: white;
            text-decoration: none;
            font-size: 22px;
        }
    }
}