body{
    background-color: #460562;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    scrollbar-color: white black;
}
.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-bottom: 3px solid var(--background);
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 999;
}
.nav .box-1{
    position: relative;
    width: auto;
    height: 70px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#cerrarSesion{
    padding: 5px;
    color: white;
    text-decoration: none;
}
.box-img-user{
    position: relative;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}
.box-datos-user{
    padding: 10px;

    label{
        font-size: 21px;
        margin: 5px;
        font-weight: 550;
    }
    p{
        margin: 5px;
    }

}
.box-2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px;
    gap: 30px;
    height: 70px;
}
.box-2 button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.box-2 a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 23px;
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
}
.box-2 button:nth-child(3){
    display: none;
}
/* CSS DE MEDIA */
.media{
    position: relative;
    background-color: transparent;
    width: 100%;
    height: auto;
    top: 70px;
    z-index: 1;
}
.box-car{
    position: fixed;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40px;
    background-color: black;
    z-index: 999;

    button{
        position: relative;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 5px 10px;
        color: white;
        border: none;
        border-radius: 5px 5px 0 0;
        background-color: transparent;
        margin-left: 10px;
        cursor: pointer;
    }
}
/* CSS DE CARRUSEL */
.box-carosel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 40px;
    background-color: transparent;
}
.carosel{
    width: 95%;
    height: 90%;
    background-color: transparent;
    overflow: hidden;
    color: white;
}
.box{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    right: 0%;
    transition: .3s;
}
.box.comentarios{
    right: 0;
}
.box.compras{
    right: 100%;
}
.boxes{
    position: relative;
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    object-fit: cover;
    background-color: transparent;
}
/* CSS DE ALERTA DE SELECIONAR QUE CAMBIAR*/
.fondo{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: .3s;
}
.fondo.activo{
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}
.selecionar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    border: 2px solid #c234ff;
    gap: 10px;
    width: 350px;
    height: 300px;
    color: white;
}
#closeSeleccion{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: black;
    left: 90%;
    font-size: 23px;    
    width: 20px;
    height: 20px;
    z-index: 999;
    top: 0;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
#btn-cerrar-selecion:hover{
    background-color: red;
    color: white;
}
.selecionar .eleccion{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}
.selecionar .eleccion::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b300ff;
    z-index: -1;
    left: -100%;
    border-radius: 5px;
    transition: .3s;
}
.selecionar .eleccion:hover::after{
    left: 0;
}
/* CSS DE FOTO ELEGIR FOTO DE PERFIL */
.box-foto-perfil{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: .3s;
}
.box-foto-perfil.activo{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.foto-perfil{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c234ff;
    width: 300px;
    height: 350px;
    background-color: black;
    color: white;
}
.ls-btn{
    position: absolute;
    color: red;
    font-size: 22px;
    left: 90%;
    cursor: pointer;
}
.box-img-perfil{
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    bottom: 10px;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.box-file{
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: auto;

    input[type=file]{
        display: none;
    }
    label{
        position: relative;
        border-bottom: 1px solid royalblue;
        color: white;
        padding: 7px 30px;
        cursor: pointer;
        overflow: hidden;
        z-index: 1;
    }
    label::after{
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 100%;
        background-color: royalblue;
        transition: .3s;
        z-index: -1;
    }
    label:hover::after{
        top: 0;
    }   
}
#btnGuardar{
    padding: 7px 30px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: 1px solid #c234ff;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
#btnGuardarImg{
    padding: 7px 30px;
    margin-top: 20px;
    background-color: black;
    color: #aaa;
    border: 1px solid #aaa;
    border-radius: 10px;
    transition: .3s;
    pointer-events: none;
    cursor: pointer;
}
#btnGuardarImg.activo{
    pointer-events: all;
}
#btnGuardarImg:hover,
#btnGuardar:hover{
    padding: 7px 80px;
    background-color: #c234ff;
    border-color: #c234ff;
    color: white;
}
/* CSS DE MODIFICAR EL NOMBRE */
.box-nombre{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    transform: translateY(20px);
    transition: .3s;
    z-index: 999;
    opacity: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0,0,0,0.5);
}
.box-nombre.activo{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.box-nombre form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 10px;
    color: white;
    width: 300px;
    padding: 10px;
    height: 340px;
    border-radius: 10px;
    border: 1px solid #c234ff;
    box-shadow: 0 0 10px black;
}
.box-input{
    position: relative;
    width: 100%;
    height: 70px;

    input{
        width: 90%;
        background-color: black;
        height: 35px;
        border: 1px solid #202020;
        border-radius: 5px;
        padding-left: 10px;
        color: white;
        outline: none;
        transition: .3s;
    }
    label{
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px 12px;
        color: #aaa;
        background-color: black;
        padding: 5px;
        transition: .3s;
    }
    input:focus,
    input:valid{
        border-color: royalblue;
    }
    input:focus ~label,
    input:valid ~label{
        color: rgb(223, 231, 255);
        text-shadow: 0 0 10px royalblue;
        transform: translate(-5px,-18px) scale(0.9);
    }

}
/* CSS DE DE MODIFICAR NOMBRE DE USUARIO*/
.box-usuario{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    transform: translateY(20px);
    transition: .3s;
    z-index: 999;
    opacity: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0,0,0,0.5);
}
.box-usuario.activo{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.box-usuario form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 10px;
    color: white;
    width: 300px;
    padding: 10px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid #c234ff;
    box-shadow: 0 0 10px black;

    h2{
        margin-top: 30px;
        padding-top: 10px;
    }
}
.box-input{
    p{
        position: absolute;
        top: 40%;
        left: 10px;
    }
}
/* CSS DE MODIFICAR CONTRASEÑA */
.box-contrasena{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    transform: translateY(20px);
    transition: .3s;
    z-index: 999;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
}
.box-contrasena.activo{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.box-contrasena form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 10px;
    color: white;
    width: 300px;
    padding: 10px;
    height: 340px;
    border-radius: 10px;
    border: 1px solid #c234ff;
    box-shadow: 0 0 10px black;
}
/*CSS DE MODIFICAR UBICACION */
.box-ubicacion{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    transform: translateY(20px);
    transition: .3s;
    z-index: 999;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0,0,0,0.5);
}
.box-ubicacion.activo{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.box-ubicacion form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 10px;
    color: white;
    width: 300px;
    padding: 10px;
    height: 340px;
    border-radius: 10px;
    border: 1px solid #c234ff;
    box-shadow: 0 0 10px black;

    h2{
        margin-top: 50px;
    }
}
/* CSS DE COMENTARIOS */
.box-comentarios{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 10px;
}
.comentario{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 90%;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}
@media(max-width: 400px){
    .comentario{
        width: 85%;
    }
}
.box-datos-img-c{
    position: relative;
    width: 100%;
    height: 40px;
    gap: 10px;
    display: flex;
    align-items: center;

    label{
        font-size: 22px;
        font-weight: 550;
    }
}
/* CSS DE COMPRAS */
.box-compras{
    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent
}
.bx-pro-compras{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fecha{
    position: relative;
    width: 100%;
    height: 70px;
}
.comprass{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}
.compra{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: auto;
    color: black;
    flex: 0 0 auto;
}
.box-img-producto{
    position: relative;
    width: 280px;
    height: 130px;
    overflow: hidden;
    border-radius: 5px;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.datos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: 10px;
    height: auto;
    padding: 10px;
}
.box-datos-paga{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid white;
    padding-top: 20px;
    margin-top: 20px;
    p{  
        display: inline;
        font-size: 20px;
    }
}
/* CSS DE FOOTER */
footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-color: black;
    flex-wrap: wrap;
    top: 200px;
}
footer .redes,
footer .atencionCliente, 
footer .politicas{
    flex: 0 0 auto;
}
footer .redes{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    color: white;
    width: 300px;
    height: auto;

    ul{
        position: relative;
        left: -20px;
        display: flex;
    }
    ul li{
        list-style: none;
        padding: 10px;

        a{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            color: white;
            text-decoration: none;
            background-color: #101010;
            border-radius: 50%;
            
            i{
                font-size: 22px;
            }
            span{
                content: " ";
                position: absolute;
                top: 90%;
                padding: 4px 10px;
                background-color: white;
                color: black;
                border-radius: 10px;
                z-index: 1;
                opacity: 0;
                pointer-events: none;
                transition: .3s;
            }
            span::before{
                content: " ";
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: white;
                top: -5px;
                z-index: -1;
                left: 40%;
                transform: rotate(45deg);
            }
        }
        a:hover span{
            opacity: 1;
            top: 100%;
        }
    }
    .btn-ins:hover{
        background-color: rgb(231, 32, 155);
    }
    .btn-face:hover{
        background-color: rgb(32, 52, 231);
    }
    .btn-x:hover{
        background-color: black;
        color: white;
    }
    .btn-tiktok:hover{
        background-color: white;
        color: black;
    }
}
footer .atencionCliente{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    color: white;

    ul{
        display: flex;
        flex-direction: column;

        li{
            padding: 10px;
            list-style: none;
            left: 0;

            a{
                color: #aaa;
                text-decoration: none;
            }
            a:hover{
                color: white;
            }
        }
    }
}
footer .politicas{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    color: white;

    ul{
        display: flex;
        flex-direction: column;

        li{
            padding: 10px;
            list-style: none;

            a{
                text-decoration: none;
                color: #aaa;
            }
            a:hover{
                color: white;
            }
        }
    }
}
@media(max-width: 600px){
    .box-datos-user,
    .box-img-user,
    #openSeleccion,
    #btnCerrarSesion{
        display: none;
    }
    #btnMenu{
        display: block;
    }
}
.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: black;
    z-index: 999;
    border-right: 1px solid #202020;
    left: -300px;
    transition: .3s;

    h2{
        padding: 10px;
        text-align: center;
        color: white;
    }
    #cerrarMenu{
        padding: 10px;
        position: absolute;
        left: 90%;
        font-size: 25px;
        color: red;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
.menu.activo{
    left: 0;
}
.menu .ul-1{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: -20px;
    top: -10px;

    li{
        list-style: none;
        padding: 10px;

        button{  
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: white;
            background-color: transparent;
            border: none;
            font-size: 15px;
            cursor: pointer;
        }
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: white;
            background-color: transparent;
        }

    }
}
.menu .ul-2-from-menu{
    position: absolute;
    display: flex;
    width: 100%;
    top: 92%;

    li{
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: red;
        }
    }
}
.box-cuenta-img-datos{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 90%;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    color: white;
}
.box-cuenta-img-datos .box-img{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.dts-usuario{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;

    p , label{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px;
    }

}
@media(max-width: 443px){
    #desBusquedaFlotante{
        left: -10px;
    }
}
