body{
    background-color: #460562;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    scrollbar-color: white black;
}
.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-bottom: 3px solid var(--background);
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 999;

    a{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        color: white;
    }
    h3{
        padding: 10px;
    }
}
.media{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    top: 70px;
}
/* CSS DE DATOS DE CUENTA */
.b-1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #aaa;
}
.b-2{
    display: flex;
}
.box-cuenta{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 10px;
    background-color: transparent;
}
.box-btns{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: transparent;
    top: 30px;

    a{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 30px;
        color: white;
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
        text-decoration: none;
        gap: 10px;

        i{
            transition: .3s;
        }
    }
    a:hover{
        background-color: white;
        color: black;
    }
    a:hover p{
        display: none;
    }

}
.box-img-user{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.box-datos{
    position: relative;
    left: 10px;
    color: white;
}
/* CSS DE COMENTARIOS */
.boxes{
    position: relative;
    background-color: #5e177c;
    border-radius: 10px;
    border: 1px solid #b16ccf;
    width: 81%;
    padding: 10px;
    height: auto;
    color: white;
}
.box-comentarios{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 97%;
    height: auto;
}
.comentario{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}
.box-user-img{
    display: flex;
    align-items: center;
    height: auto;
    padding: 5px;
    gap: 5px;

    .box-img-c{
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}